<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>SSD Login</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

	<div class="container">
		<h3>Welcome, Enter The Login Details</h3>
		<form method="POST" action="/login" modelAttribute="User">

			<div class="form-group">
				<label for="username">UserName:</label> <input type="text"
					name="username" class="form-control">
			</div>

			<div class="form-group">
				<label for="password">Password:</label> <input type="password"
					name="password" class="form-control">
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>

		</form>


	</div>

</body>
</html>